
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 960px;
    margin: 0 auto;
}
body{
    background-color: hsl(0,0%,95%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
}
.grandcard{
    width: 960px;
    
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    margin:0 auto;
    
}

.cards{
    display: flex;
    justify-content:center;
    flex-wrap: wrap; 
    margin: 100px;
    height: auto;
    border-radius: 12px;
    transition: all 0.2 linear;
    overflow: hidden;
   
    
}
.card-1{
    background-color: orange;
    color: white;
    padding: 30px;
    flex: 1 1; /*grow-1 equal width, 1-shrink properly set one by one*/
    box-shadow: 0 0 20px #bac3c3;
}
.card-2{
    background-color: rgb(49, 120, 146);
    color: white;
    padding: 30px;
    flex: 1 1;
    box-shadow: 0 0 20px #bac3c3;


}
.card-3{
    background-color: rgb(31, 71, 71);
    color: white;
    padding: 30px;
    flex: 1 1;
    box-shadow: 0 0 5px #bac3c3;



}
a{
    border-radius: 25px;
    border: 2px solid hsl(0, 0%, 95%);
    display: inline-block;
    padding: 13px 27px;
    background-color:white ;
    margin-top: 60px;
    text-decoration: none;
}
p{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    padding-bottom: 20px;
    margin-top:20px ;

}
h3{
    margin-top: 20px;
    font-size: 20px;
}
span{
    color: white;
}
.card-1 a{
    color: orange;
}
.card-2 a{
    color: hsl(179,100%,13%);
}
.card-3 a{
    color: rgb(49, 120, 146);
   
}
.cards a:hover{
    color: hsl(0,0%,95%);
    background: transparent;
}
@media (max-width:920px){
    
   .cards{
    flex-direction: column;
    /* padding: 5rem 0; */
    /* width: 100px; */
    
   }
   p{
    font-size: 30px;
}
h3{
    margin-top: 30px;
    font-size: 50px;
}
a{
    padding: 23px 47px;
    font-size: 40px;

}
}

@media (max-width:420px){

p{
    font-size: 30px;
}
.cards{
    flex-direction: column;
    padding: 100px 100px;
    height: auto;
}
h3{
    margin-top: 30px;
    font-size: 50px;
}
a{
    border-radius: 25px;
    border: 2px solid hsl(0, 0%, 95%);
    display: inline-block;
    padding: 23px 67px;
    background-color:white ;
    margin-top: 60px;
    text-decoration: none;
    font-size: 60px;
}

}